{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/utilitysettings.css">
{% endblock %}

{% block title %}
<title>OP-Z Sample Manager and Converter Utility Settings</title>
{% endblock %}

{% block main %}
<h1>OP-Z Sample Manager and Converter Utility Settings</h1>

<button onclick="window.location.href='/'" class="btn btn-primary">Home Page</button>
<button onclick="resetConfig()" class="btn btn-danger">Reset Config</button>

<hr>

<!-- FFmpeg Path -->

<div id="ffmpeg-settings">
<div>If on Windows, set this to location of your ffmpeg.exe file.</div>
<button onclick="openPathPicker('/get-user-file-path', 'ffmpeg-path-holder', 'ffmpeg-info', 'FFMPEG_PATH', true)"class="btn btn-warning" >
  Open File Browser
</button>
<input id="ffmpeg-path-holder" placeholder="ffmpeg file path goes here" style="min-width: 200px;" />
<button onclick="setConfigPath('FFMPEG_PATH', 'ffmpeg-path-holder', 'ffmpeg-info')" class="btn btn-primary">Set</button>
<button onclick="removeConfigPath('FFMPEG_PATH', 'ffmpeg-path-holder', 'ffmpeg-info')" class="btn btn-danger">Clear</button>
<p id="ffmpeg-info"></p>

<hr>
</div>

<!-- OP-Z Path -->
<div>Set the path to the mounted OP-Z</div>
<button onclick="openPathPicker('/get-user-folder-path', 'opz-path-holder', 'opz-info', 'OPZ_MOUNT_PATH', true)" class="btn btn-warning">
  Open Folder Browser
</button>
<input id="opz-path-holder" placeholder="OP-Z mount path goes here" style="min-width: 200px;" />
<button onclick="setConfigPath('OPZ_MOUNT_PATH', 'opz-path-holder', 'opz-info')" class="btn btn-primary">Set</button>
<button onclick="removeConfigPath('OPZ_MOUNT_PATH', 'opz-path-holder', 'opz-info')" class="btn btn-danger">Clear</button>
<p id="opz-info"></p>

<hr>

<!-- Logger Level Dropdown -->
<div>Set logger verbosity level:</div>
<select class="form-select" id="logger-level-select" onchange="setLoggerLevelFromDropdown()">
  <option value="DEBUG">DEBUG</option>
  <option value="INFO">INFO</option>
  <option value="WARNING">WARNING</option>
  <option value="ERROR">ERROR</option>
  <option value="CRITICAL">CRITICAL</option>
</select>
<p id="logger-info"></p>

<script src="/static/js/utilitysettings.js"></script>
{% endblock %}
